[user]
	name = XJP09_HK
	email = jianping_xie@aliyun.com
[core]
    editor = vim
[alias]
	br = branch
	ci = commit
	co = checkout
	di = diff
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	rs = reset
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk
